body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #b8b8b8;
}
.box{
    width: 300px;
    padding:40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color:#213674;
    text-align: center;
    border: 2px solid #1b30a7 ;
    border-radius: 20px;
    
}
.box h1{
    color: white;
    font-size: 40px;
    font-weight: 530;
    margin-bottom: 60px;
}
.box input[name="username"], .box input[name="password"]{
    background: none;
    display: block;
    margin: 20px auto; 
    text-align: center;
    border:2px solid #546de5;
    border-radius: 50px;
    width: 200px;
    height: 50px;
    outline:none;
    color: white;
    transition: 0.25s;
}

.box input[name="username"]:focus, .box input[name="password"]:focus{
    width: 300px;
    border-color: crimson;
}
.box input[type="submit"]{
    background: none;
    display: block;
    margin: 20px auto; 
    text-align: center;
    border:2px solid #546de5;
    border-radius: 50px;
    width: 180px;
    height: 50px;
    outline:none;
    color: white;
    transition: 0.25s;
    cursor: pointer;
}
.box input[type="submit"]:hover{
    background: crimson;
    border:2px solid #8d93ad;
          
}